.header {
  width: 100%;
  height: 50px;
  background: dimgray;
  box-shadow: 3px 0 3px 0;
  z-index: 12;
  display: flex;
  align-items: center;

  .wrap_select_lang {
    width: 25%;
    display: flex;
    align-items: flex-start;

    .select_lang {
      width: 200px;
      max-height: 70px;
      margin-top: 8px;
      margin-left: 20px;
    }
  }

  .ex_2 {
    display: none;
  }

  ::ng-deep .mat-mdc-text-field-wrapper {
    background: transparent;
    padding: 0;
  }

  ._title {
    min-width: 30%;

    h1 {
      padding-top: 8px;
      padding-right: 20px;
      text-align: right;
      font-family: 'Dancing Script', cursive;
      font-size: 20px;
      letter-spacing: .3rem;
      color: coral;
    }
  }

  .preSelected {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;

    a {
      padding: 0 10px;
      color: darkgray;
      transition: .5s;
    }

    a:hover {
      cursor: pointer;
      color: brown;
      transition: .5s;

    }

    a:active {
      color: #831f1f;
      transition: .5s;
      letter-spacing: .3rem;

    }

    .city_name {
      width: initial;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}

::ng-deep .mdc-menu-surface {
  background: darkslategrey;
}

::ng-deep .mdc-list-item__primary-text {
  color: burlywood;
}

//::ng-deep .mdc-line-ripple::before{
//  border-bottom-style: none;
//}

@media (max-width: 992px) {
  .header {
    .wrap_select_lang {
      width: 140px;
      .select_lang {
        width: 100%;
        margin-left: 5px;
      }
    }

    ._title {
      width: 20%;
      h1{
        text-align: center;
        padding-left: 1%;

      }
    }

    .preSelected {
      width: 38%;
    }

  }
}

@media (max-width: 767px) {
  .header {
    height: max-content;
    flex-direction: column;
    position: relative;
    padding: 0;

    .ex_2 {
      display: block;
    }

    .ex_1 {
      display: none;
    }

    .wrap_select_lang {
      position: absolute;
      left: 0;
      top: 25%;
    }

    ._title {
      width: 100%;

      h1 {
        text-align: center;
      }
    }

    .preSelected {
      width: 100%;
      margin-bottom: 5px;
    }
  }
}

@media (max-width: 380px) {
  .header {
    .wrap_select_lang {
      top: 8%;
      left: -5px;
    }

    .preSelected {
      flex-wrap: wrap;
    }
  }
}

