<div class="wrap_current_weather">
  <div *ngIf="(isLoading$ | async)">Loading.......</div>

  <div class="city_input_container">
    <div class="main_title">
      <h1> the weather in </h1>
    </div>

    <form class="city_input_form">
      <mat-form-field class="form_field">
        <mat-label>{{'cw.city' | translate}}</mat-label>
        <div class="input_city_block">
          <input type="text"
                 matInput [formControl]="chooseCity"
                 placeholder="Kyiv"
                 [errorStateMatcher]="matcher"
                 (keydown.enter)="checkCity($event)"/>
          <a (click)="checkCity($event)"><i class="fa-solid fa-arrow-right"></i></a>
        </div>
        <mat-hint>{{'cw.select_settlement' | translate}}</mat-hint>
        <mat-error *ngIf="chooseCity.hasError('minlength') && !chooseCity.hasError('required')">
          Please enter more than 2 characters
        </mat-error>
        <mat-error *ngIf="chooseCity.hasError('maxlength') && !chooseCity.hasError('required')">
          Please enter less than 20 characters
        </mat-error>
        <mat-error *ngIf="chooseCity.hasError('required')">
          <strong>{{'cw.city_is_required'| translate}}</strong>
        </mat-error>
      </mat-form-field>
    </form>
  </div>

  <div *ngIf="(weather$ | async) as weather" class="weather_content">

    <div class="w_block_1" *ngFor="let weatherInfo of weather.weather">
      <span class="w_ico">
        <img src="{{getIconUrl(weatherInfo.icon)}}" alt="{{weatherInfo.description}}">
        <span class="w_description">{{weatherInfo.description}}</span>
      </span>
    </div>

    <div class="w_block_2">
      <span>
        <h2 class="city_name" *ngIf="(weather$ | async) as weather"> {{weather.name}}</h2>
        <h2 class="city_name" >{{mathRound(weather.main.temp)}} &deg;C</h2>
      </span>
      <ul>
<!--        <li>{{ 'cw.temperature' | translate}} {{mathRound(weather.main.temp)}} &deg;C</li>-->
        <li>{{ 'cw.feels_like' | translate}}  {{mathRound(weather.main.feels_like)}} &deg;C</li>
        <li>{{ 'cw.humidity' | translate}} {{weather.main.humidity}} %</li>
        <li>{{ 'cw.pressure' | translate}} {{weather.main.pressure}} hPa</li>
        <li>{{ 'cw.visibility' | translate}} {{weather.visibility / 1000}} km</li>
      </ul>
    </div>

    <div class="w_block_3">
      <ul>
        <li>humidity {{weather.main.humidity}}</li>
        <li>pressure {{weather.main.pressure}}</li>
        <li>temp {{weather.main.temp}}</li>
        <li>t_max {{weather.main.temp_max}}</li>
        <li>t_mim{{weather.main.temp_min}}</li>

      </ul>
    </div>
  </div>

  <div *ngIf="(error$ | async) as err">{{err}}</div>
</div>

