<div class="wrap_current_weather">
  <div *ngIf="(isLoading$ | async)">Loading.......</div>

  <div class="city_input_container">
    <div class="main_title">
      <h2> the weather in </h2>
    </div>

    <form class="city_input_form">
      <mat-form-field class="form_field">
        <mat-label>{{'cw.city'|translate}}</mat-label>
        <div class="input_city_block">
          <input type="text"
                 matInput [formControl]="chooseCity"
                 placeholder="Kyiv"
                 [errorStateMatcher]="matcher"
                 (keydown.enter)="checkCity($event)"/>
          <a (click)="checkCity($event)"><i class="fa-solid fa-arrow-right"></i></a>
        </div>
        <mat-hint>{{'cw.select_settlement'|translate}}</mat-hint>
        <mat-error *ngIf="chooseCity.hasError('minlength')">
          Please enter more than 2 characters
        </mat-error>
        <mat-error *ngIf="chooseCity.hasError('maxlength')">
          Please enter less than 20 characters
        </mat-error>
      </mat-form-field>
    </form>
  </div>

  <div *ngIf="(weather$ | async) as weather" class="weather_content">

    <div class="w_block_1" *ngFor="let weatherInfo of weather.weather">
      <span class="w_ico">
        <img src="{{getIconUrl(weatherInfo.icon)}}" alt="{{weatherInfo.description}}">
        <span class="w_description">{{weatherInfo.description}}</span>
      </span>
    </div>

    <div class="w_block_2">
      <span>
        <h2 class="city_name" *ngIf="(weather$ | async) as weather"> {{weather.name}}</h2>
        <h2 class="city_name">{{mathRound(weather.main.temp)}}&deg;C</h2>
      </span>
      <ul>
        <!--        <li>{{ 'cw.temperature' | translate}} {{mathRound(weather.main.temp)}} &deg;C</li>-->
        <li>{{ 'cw.feels_like'|translate}}  {{mathRound(weather.main.feels_like)}}&deg;C</li>
        <li>{{ 'cw.humidity'|translate}} {{weather.main.humidity}}%</li>
        <li>{{ 'cw.cloudiness'|translate}} {{weather.clouds.all}}%</li>
        <li>{{ 'cw.pressure'|translate}} {{weather.main.pressure}}hPa</li>
        <li>{{ 'cw.visibility'|translate}} {{weather.visibility / 1000}}km</li>
      </ul>
    </div>

    <div class="w_block_3">
      <ul>
        <li style="display: flex">{{'cw.wind_speed'|translate}}
          <div style="display: flex; flex-direction: column; padding-left:5px " >
            <span>{{math.round(weather.wind.speed * 10) / 10}}km/h</span>

            <span>{{getWindSpeed(weather.wind.speed)}}m/s</span>
          </div>
        </li>
        <li *ngIf="weather.wind.dust"> {{'cw.gusts_of_wind'|translate}} {{weather.wind.dust}} km/h</li>
      </ul>
      <div class="wind_direction">
        <p>{{'cw.wind_direction'|translate}}</p>
        <img class="wind_direction_img" src="assets/current-weather/compass.jpg" alt="compass"/>
        <div class="direction"> {{getCardinalDirection(weather.wind.deg)}}</div>
      </div>
    </div>
    <div class="w_block_4">
      <h2 class="country">{{weather.sys.country}}</h2>
      <span class="country" style=" font-size: 20px;">{{weather.name}}</span>
      <ul>
        <li>
          <img src="./assets/current-weather/sunrise.jpg" alt="sunrise">
          {{'cw.sunrise'|translate}} {{getDate(weather.sys.sunrise, weather.timezone)}}
        </li>
        <li>
          <img src="./assets/current-weather/sunset.jpg" alt="sunset">
          {{'cw.sunset'|translate}} {{getDate(weather.sys.sunset, weather.timezone)}}
        </li>
        <li *ngIf="weather.wind.dust"> {{'cw.gusts_of_wind'|translate}} {{weather.wind.dust}} km/h</li>
      </ul>
    </div>
  </div>

  <div *ngIf="(error$ | async) as err">{{err}}</div>
</div>

